<ion-header>
        <ion-toolbar>
            <ion-title>List of Quotation</ion-title>
        </ion-toolbar>



           <ion-list>
                <ion-item-sliding *ngFor="let task of givenTasks?.items">

                <ion-item *ngIf="task.status=3"> 

                    <ion-label>
                        {{task.title}}
                    </ion-label>

                </ion-item>
            

            </ion-item-sliding>
            </ion-list>




</ion-header>

<ion-content>

</ion-content>

